@page "/eventdata"
@inject HttpClient http

<h3>Event Data</h3>

<p>Number: @testClass.Count</p>

<p>@testingString</p>


@code {

    private List<TestClass> testClass = new List<TestClass>();

    public class TestClass {
        public string Name;
    }

    private string testingString = "nothing";

    protected override async Task OnInitializedAsync() {
        string wht = await http.GetStringAsync("https://localhost:44331/api/eventdata");

        testingString = wht;

        //testClass = await http.GetFromJsonAsync<List<TestClass>>("https://localhost:44331/api/eventdata");
        }

}
