@page "/eventdata/edit/{id:int}"
@using Shared.Dtos
@inject HttpClient http
@inject NavigationManager navigationManager

<div class="row justify-content-center">
    <div class="col">
        @if(createEventData == null) {
            <h2>Loading the item</h2>
        } else {
            <h2>Editing @createEventData.Name</h2>
        }
    </div>
</div>

@*<div class="row justify-content-center">
    <div class="col-6">
        <div class="form-group">
            <label for="add_event_name">Event Name</label>
            <input type="text" class="form-control" id="add_event_name" placeholder="New event name" @bind="createEventData.Name" />
        </div>
        <div class="form-row">
            <div class="form-group col">
                <label for="add_start_data">Start Date</label>
                <input type="date" class="form-control" id="add_start_date" @bind="createEventData.StartTime"/>
            </div>
            <div class="form-group col">
                <label for="add_expiration_data">Expiration Date</label>
                <input type="date" class="form-control" id="add_expiration_data" @bind="createEventData.ExpirationTime"/>
            </div>
        </div>
        <div class="form-row">
            <div class="col">
                <a class="btn btn-danger form-control" href="/">Cancel</a>
            </div>
            <div class="col">
                <button class="btn btn-success form-control" @onclick="OnCreateClicked">Create</button>
            </div>
        </div>
    </div>
</div>*@

@code {

    [Parameter]
    public int Id { get; set; }


    private EventDataCreateDto createEventData = null;

    protected override async Task OnInitializedAsync() {
        createEventData = await http.GetFromJsonAsync<EventDataCreateDto>($"api/eventdata/{Id}");
    }

    //private async Task OnCreateClicked() {
    //    var response = await http.PostAsJsonAsync("api/eventdata", createEventData);
    //    navigationManager.NavigateTo("/");
    //}

}
