@page "/eventdata/edit/{id:int}"
@using Shared.Dtos
@using Client.Components.Event
@using Microsoft.AspNetCore.JsonPatch

@inject HttpClient http
@inject NavigationManager navigationManager


<div class="row justify-content-center">
    <div class="col-auto">
        <h2>Editing @createEventData?.Name</h2>
    </div>
</div>

<div class="row justify-content-center">
    <div class="col-6">
        @if(createEventData == null) {
            <p>Loading item...</p>
        } else {
            <EventForm createEventData="@createEventData"></EventForm>
            <div class="form-row">
                <div class="form-group col">
                    <a class="btn btn-danger form-control" href="/">Back</a>
                </div>
                <div class="form-group col">
                    <button class="btn btn-success form-control" @onclick="OnUpdateClicked">Update</button>
                </div>
            </div>
        }
    </div>
</div>

@code {

    [Parameter]
    public int Id { get; set; }

    private EventDataCreateDto createEventData = null;

    protected override async Task OnInitializedAsync() {
        EventDataReadDto readEventData = await http.GetFromJsonAsync<EventDataReadDto>($"api/eventdata/{Id}");

        createEventData = new EventDataCreateDto();
        createEventData.Name = readEventData.Name;
        createEventData.StartTime = readEventData.StartTime;
        createEventData.ExpirationTime = readEventData.ExpirationTime;
    }

    private async Task OnUpdateClicked() {
        EventDataUpdateDto eventDataUpdateDto = new EventDataUpdateDto();
        eventDataUpdateDto.Name = createEventData.Name;
        eventDataUpdateDto.StartTime = createEventData.StartTime;
        eventDataUpdateDto.ExpirationTime = createEventData.ExpirationTime;


        //JsonPatchDocument<EventDataUpdateDto> test;

        //string content = System.Text.Json.JsonSerializer.Serialize(eventDataUpdateDto);

        //Console.WriteLine("Content: " + content);

        //await http.PatchAsync($"api/eventdata/{Id}", new StringContent(content));

        //var response = await http.PostAsJsonAsync("api/eventdata", createEventData);
        //navigationManager.NavigateTo("/");
        //    Console.WriteLine("Clicked on update");


        //     new StringContent();


        //HttpContent test = new HttpContentJsonExtensions();
    }

}
